
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              
              <a class="nav-link" routerLink="page/empleado" >Empleado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="page/maquinaria" >Maquinaria</a>
              
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="page/asignacion" >Asignacion</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="page/resumen" >Resumen</a>
            </li>
          </ul>
        </div>
      </nav>
  
  